<div id="partial">
    <ul class="list-group list-group-flush m-3">


        {{#each paths}}
        <li id="{{id}}" class="list-group-item">
            <div class="d-flex justify-content-between">
                <div class="my-auto"><b>{{name}}</b></div>

                <span id="{{id}}" onclick="deletePath(this)" class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                    <i class="fa fa-trash fa-stack-1x"></i>
                </span>
                <div class="form-check form-check-inline">
  <input onclick="updatePath(this)" class="form-check-input" type="checkbox" id="{{id}}_write" value={{write}} {{#if write}}
       checked
{{/if}}>
  <label class="form-check-label" for="{{id}}_write">write</label>
</div>
<div class="form-check form-check-inline">
  <input onclick="updatePath(this)" class="form-check-input" type="checkbox" id="{{id}}_read" value={{read}} {{#if read}}
       checked    
{{/if}}>
  <label class="form-check-label" for="{{id}}_read">read</label>
</div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>