<div id="users">
    {{#each users}}
    <div id="{{id}}" class="jumbotron m-5 shadow">
        <h1 class="display-4">{{name}}</h1>
        <p class="lead">{{email}}</p>
        <hr class="my-4">
        <div class="list-group list-group-flush">
            {{#each Directories}}
            <li class="list-group-item"><b>{{path}}</b></li>
            {{/each}}
        </div>

        <p class="lead mt-2">
            <a role="button" href="/editUser/init/{{id}}" class="btn btn-primary btn-lg" id="EditButton{{id}}">Edit</a>
            <button type="button" id="DeleteButton{{id}}" data-toggle="modal" data-id="{{id}}" data-user="{{name}}"
                data-target="#ConfirmationModal" class="btn btn-danger btn-lg">Delete</button>
        </p>
    </div>
    {{/each}}


</div>
{{> confirmationModal}}